<?xml version="1.0" encoding="utf-8" ?>
<Pluralsaver>
  <Configuration>
    <PluralsightAccount Login="" Password="" />
    <Download Path="d:\Pluralsight" />
    <DownloadDelay PlayClip="15" AfterClipTimeout="240" />
  </Configuration>
  <Download>
    <Course></Course>
  </Download>
</Pluralsaver>