<?xml version="1.0" encoding="utf-8" ?>
<Pluralsaver>
  <Configuration>
    <PluralsightAccount Login="alexey-maslov" Password="test" />
    <Download Path="d:\Pluralsight" />
    <DownloadDelay PlayClip="15" AfterClipTimeout="240" />
  </Configuration>
  <CoursesToDownload>
    <Course>Introduction to .NET Testing with NUnit</Course>
    <Course>Bootstap</Course>
  </CoursesToDownload>
</Pluralsaver>