<?xml version="1.0" encoding="utf-8" ?>
<Pluralsaver>
  <Configuration>
    <PluralsightAccount Login="" Password="" />
    <Download Path="d:\Pluralsight" />
    <DownloadDelay PlayClipTimeout="30" AfterClipTimeout="120" />
  </Configuration>
  <CoursesToDownload>
    <Course>Learning To Program - Being A Better Programmer</Course>
  </CoursesToDownload>
</Pluralsaver>